<div class="block-inner printPage-inner">
  <div class="component-inner component">
    <div class="component-body-inner printPage-body-inner"><a href='javascript:window.print();'>{{{text}}}</a></div>
  </div>
</div>
