<div class='block printPage'>
  <div class="block-inner printPage-inner">
    <div class="component">
      <div class="component-inner">
        <div class="component-icon-print icon icon-printer"></div>
        <div class="component-body-inner printPage-body-inner"><a href='javascript:window.print();'>{{{text}}}</a></div>
      </div>
    </div>
  </div>
</div>
